.footer {
  padding: 80px 70px 20px 70px;
  margin-top: auto;
  font-family: "Inter", Arial, sans-serif;
  background-color: #FAFAFA;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  color: #A0A0A0;
}

.main__line_footer {
  background-color: #E8E8E8;
}

.footer__wrap-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
  line-height: 1.2;
  padding-top: 20px;
}

.footer__nav {
  display: flex;
  align-items: center;
}

.footer__nav-item {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  box-sizing: content-box;
  padding-bottom: 6px;
  font-weight: 500;
}

.footer__nav-item:hover {
  opacity: .5;
  transition: 0.2s;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__year {
  margin: 0;
  padding-right: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 80px 30px 20px 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 80px 10px 10px 10px;
  }
  .footer__wrap-block {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }
  .footer__year {
    color: #8b8b8b;
    padding-right: 0;
  }
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 30px;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
}
